extends layout

block layout-content
  div.View.WelcomeView
    h1.Banner Basement, 1991
    div.Message
      div.Title
        h3 Lubyanka,
        h1 survive the basement
      span.Details find the right item to use and escape the room
    div.NavButtons
      if isAuthenticated
        a(href="/user")
          div.NavButton Just dive in!
      else
        a(href="/login")
          div.NavButton Log in