extends layout

block layout-content
  div.View.WelcomeView
    h1.Banner Basement, 1991
    div.Message
      div.Title
        h3 Lubyanka,
        h1 1991, former KGB Headquarters
      span.Details figure out a way to get through all the rooms and out of the basement
    div.NavButtons
      if isAuthenticated
        a(href="/user")
          div.NavButton profile
      else
        a(href="/login")
          div.NavButton Log in
      
