extends layout

block layout-content
  div.View.WelcomeView
    h1.Banner Basement, 1991
    div.Message
      div.Title
        h3 Lubyanka,
        h1 locked in a basement
      span.Details find the right item to use and escape the room.
       span enter the command `use item_name` to figure out what works
       span for example 'use keypad' or 'use pistol'
    div.NavButtons
      if isAuthenticated
        a(href="/user")
          div.NavButton profile
      else
        a(href="/login")
          div.NavButton Log in
      
