extends layout
block layout-content
    div.View.WelcomeView
        h1.Banner Room00
        div.Message
            div.Title
                h3 room-zero-zero,
                h1 wakey wakey, lets be a hero 
                p.Details there is a gun and notebook
                p maybe you could 'use' one of them                
                form(method='POST', action='/check_answer00')
                    | use :
                    input(type='text', name='commandInput')
            span.Details #{reply}
        div.NavButtons 
            if isOpen 
                a(href='/room01') 
                    div.NavButton next room   
            a(href="/user")
                div.NavButton Profile
            a(href=`/rooms`)
                div.NavButton rooms
            a(href="/logout")
                div.NavButton Log out
        

